<link rel="stylesheet" href="__PUBLIC__css/task_all.css"> 
    <div class="content">
        <div class="content_left">
            <strong style='display:block;' id="unfinish">未完成</strong>
<foreach name='unfinish' item='vo'>
        <div class='wrap_' data="{$vo.id}">
            <div class="task_info" data="{$vo.id}" style='width:300px;height:60px;'>
                <div class="info_top">
                    <input type="checkbox" class='check' data="{$vo.id}" tag='unfinish'>

                <if condition="$vo['grade'] == '紧急'">
                    <div class="info_grade" style='background:#FF3636'>
                        <p class='grade_p'>紧急</p>
                    </div>
                <elseif condition="$vo['grade'] == '一般'" />
                    <div class="info_grade" style='background:#FFAF60'>
                        <p class='grade_p'>一般</p>
                    </div>
                <else />
                    <div class="info_grade" style='background:#5BBD72'>
                        <p class='grade_p'>{$vo.grade}</p>
                    </div>
                </if>

                    <p class='name_p'>{$vo.give_user}</p>
                    <div class="date">
                        <p>{$vo.deadline}</p>
                    </div>
                </div>
                <div class="sys_name">
                    <p>&nbsp;{$vo.project_name}&nbsp;</p>
                </div>
                <p class='ac_info'>{$vo.task_content}</p>
            </div>
        </div>
</foreach>
        </div>

        <div class="content_right">
            <strong style='display:block;' id="finish">已完成</strong>
<foreach name='finish' item='vo'>
        <div class='wrap_' data="{$vo.id}">
            <div class="task_info" data="{$vo.id}" style='width:300px;height:60px;'>
                <div class="info_top">
                    <input type="checkbox" class='check' checked data="{$vo.id}" tag='finish'>
                <if condition="$vo['grade'] == '紧急'">
                    <div class="info_grade" style='background:#FF3636'>
                        <p class='grade_p'>{$vo.grade}</p>
                    </div>
                <elseif condition="$vo['grade'] == '一般'">
                    <div class="info_grade" style='background:#FFAF60'>
                        <p class='grade_p'>{$vo.grade}</p>
                    </div>
                <else />
                    <div class="info_grade" style='background:#5BBD72'>
                        <p class='grade_p'>{$vo.grade}</p>
                    </div>
                </if>
                    <p class='name_p'>{$vo.give_user}</p>
                    <div class="date">
                        <p>{$vo.deadline}</p>
                    </div>
                </div>
                <div class="sys_name">
                    <p>&nbsp;{$vo.project_name}&nbsp;</p>
                </div>
                <p class='ac_info'>{$vo.task_content}</p>
            </div>
        </div>
</foreach>
        </div>
    </div>


<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->


        <div class="edit">
            <h3>查看任务</h3>

            <div class="col-sm-10" style='margin-bottom: 50px;'>
                <h4>任务内容</h4>
                <textarea class="form-control" rows="10" style='height:200px' id='task_text'></textarea>
            </div>

        </div>


<div class="content_mark"></div>
    
</body>
<script>
    $('.check').click(function(){
        var tag             = $(this).attr('tag');
        var task_id         = $(this).attr('data');

        if(tag == 'unfinish' & task_id.length >0 ){
            $.post(
                "{:U('Task/finish_task')}",
                {
                 'task_id':task_id,
                },
                function(data){
                    if(data == '完成任务'){
                        window.location.reload();
                    }

                    $(".p_mess").html(data);
                    $(".message").show(800);
                }

            );
        }

        if(tag == 'finish' & task_id.length >0 ){
             $.post(
                "{:U('Task/unfinish_task')}",
                {
                 'task_id':task_id,
                },
                function(data){
                    if(data == '完成任务'){
                        window.location.reload();
                    }

                    $(".p_mess").html(data);
                    $(".message").show(800);
                }

            );   
        }

    });





/*$(function(){
    $('.check').click(function(){
        var tag             = $(this).attr('tag');
        var task_id         = $(this).attr('data');

        if(tag == 'unfinish'){
            var task_info             = $(".wrap_[data='"+task_id+"']").html();
            console.log(task_info);
            $(".wrap_[data='"+task_id+"']").remove();
            $('#finish').after(task_info);
            $('.content_right:input').attr('checked','checked');
            
        }

        if(tag == 'finish'){

        }

    });



});*/



$(function(){
    $('.ac_info').click(function(){
        var task_content             = $(this).html();
        $('#task_text').html(task_content);

        $('.edit').show(1000);
        $('.content_mark').show('slow');
    });
    $('.content_mark').click(function(){
        $('.edit').hide(800);
        $('.content_mark').hide(800);
    });
});
</script>
</html>