<link rel="stylesheet" href="__PUBLIC__css/task.css"> 
    <div class="content">
        <div class="con_left">
            <h3>新建任务</h3>

            <input type="hidden" name='project_id' value="{$pro_id}" id='project_id'>

            <div class="col-sm-10">
                <h4>任务等级</h4>
            </div>

            <div class="col-sm-10">
                <select name="grade" id="grade" class=" btn btn-default dropdown-toggle">
                    <option value="">请选择</option>
                    <option value="紧急">紧急</option>
                    <option value="一般">一般</option>
                    <option value="正常">正常</option>
                </select>
            </div>


            <div class="col-sm-10">
                <h4>任务内容</h4>
                <textarea class="form-control" rows="10" style='height:200px' name='task_content' id='task_content'></textarea>
            </div>

            <div class="col-sm-10">
                <h4>任务分配</h4>
<foreach name='member_list' item='vo'>
                <div class="checkbox">
                    <label>
                      <input type="checkbox" name='do_user' value="{$vo.user_name}" id='do_user'>{$vo.user_name}
                    </label>
                </div>
</foreach>
            </div>

            <div class="col-sm-10">
                <h4>截止时间</h4>
                <input type='date' class="form-control" id='deadline' name='deadline' /> 


            </div>

            <div class="clean"></div>

            <input type="button" class="btn btn-default" style='background-color:#3278B3;color:#fff;width:90px;height:40px;font-size:20px;margin:20px 0px 0px 20px' value='提交' id='create_task'>

        </div>

        <div class="con_right">
<foreach name='task_list' item='vo'>
            <div class="wrap" data="{$vo.id}">
                <div class="wrap_top">
                <if condition="$vo['status'] == 2">
                    <input type="checkbox" style='float:left;width:15px;height:15px;' checked>
                <else />
                    <input type="checkbox" style='float:left;width:15px;height:15px;'>
                </if>
                    <if condition="$vo['grade'] == '紧急'">
                        <div class="wrap_tag" style='background:#FF3636'>
                            <p id='get_grade'>{$vo.grade}</p>
                        </div>
                    <elseif condition="$vo['grade'] == '一般'" />
                    <div class="wrap_tag" style='background:#FFAF60'>
                            <p id='get_grade'>{$vo.grade}</p>
                        </div>
                    <else />
                        <div class="wrap_tag" style='background:#5BBD72'>
                            <p id='get_grade'>{$vo.grade}</p>
                        </div>
                    </if>
                    <p class='wrap_top_p'>{$vo.do_user}</p>
                    <div class="wrap_date">
                        <p>{$vo.deadline}</p>
                    </div>
                </div>
                <div class="clean"></div>
                <p class='wrap_p' id='get_task_content' data="{$vo.id}" user="{$vo.do_user}">{$vo.task_content}</p>
            </div>
</foreach>          
        </div>




    </div>



        <div class="edit">
            <h3>编辑任务</h3>

            <input type="hidden" value="" id='edit_task_id' data=''>

            <div class="col-sm-10">
                <h4>任务等级</h4>
            </div>

            <div class="col-sm-10">
                <select id="edit_grade" class=" btn btn-default dropdown-toggle">
                    <option value="">请选择</option>
                    <option value="紧急">紧急</option>
                    <option value="一般">一般</option>
                    <option value="正常">正常</option>
                </select>
            </div>


            <div class="col-sm-10">
                <h4>任务内容</h4>
                <textarea class="form-control" rows="10" style='height:200px' id='edit_task_content'></textarea>
            </div>

            <div class="col-sm-10">
                <h4>截止时间</h4>
                <input type='date' class="form-control" id='edit_deadline' /> 
            </div>

            <div class="clean"></div>

            <input type="button" class="btn btn-default" style='background-color:#3278B3;color:#fff;width:90px;height:40px;font-size:20px;margin:20px 0px 0px 20px' value='提交' id='edit'>

            <input type="button" class="btn btn-default" style='background-color:#3278B3;color:#fff;width:105px;height:40px;font-size:20px;margin:20px 0px 0px 20px' value='删除任务' id='delete_task'>

        </div>



    <div class="content_mark"></div>

</body>
<script>
$('#delete_task').click(function(){
    var task_id             = $('#edit_task_id').val();

    if(task_id.length > 0 ){
        $.post(
            "{:U('Task/delete_task')}",
            {
             'task_id':task_id,
            },
            function(data){
                $(".p_mess").html(data);
                $(".message").show(800);

                if(data == '删除成功'){
                    $(".img_mess_top").click(function(){
                    $('.message').hide(800);

                    $('.wrap[data='+task_id+']').remove();
                }
            )
        }
      }
    );
    }else{
        $(".p_mess").html('请刷新页面再操作');
        $(".message").show(800);
    }

});



$('#create_task').click(function(){
    var project_id        = $('#project_id').val();
    var grade             = $('#grade').val();
    var task_content      = $('#task_content').val();
    var users             = '';
    var do_user           = $('input:checked').each(function(){
        users += $(this).val()+','; 
    });
    var deadline          = $('#deadline').val();

    if(project_id.length > 0 & grade.length > 0 & task_content.length >0 & users.length > 0 & deadline.length > 0){
        $.post(
            "{:U('Task/create_task')}",
            {
             'project_id':project_id,
             'grade':grade,
             'task_content':task_content,
             'do_user':users,
             'deadline':deadline,
            },
            function(data){
                $(".p_mess").html(data);
                $(".message").show(800);

                if(data == '创建任务成功'){
                    $(".img_mess_top").click(function(){
                    $('.message').hide(800);
                    window.location.reload();
                });
                }
                
        });
    }else{
        $(".p_mess").html('请选择完整所有选项');
        $(".message").show(800);
    }
});




$(function(){
    $('.wrap_p').click(function(){
        $("#edit_task_id").val(' ');
        $("#edit_task_content").html(' ');

        var edit_task_id             = $(this).attr('data');
        var edit_task_content        = $(this).html();
        var edit_do_user             = $(this).attr('user');
        var project_id               = $('#project_id').val();

        $("#edit_task_id").val(edit_task_id);
        $("#edit_task_content").html(edit_task_content);

        $('.edit').show(1000);
        $('.content_mark').show('slow');

        $('#edit').click(function(){
            var edit_grade              = $('#edit_grade').val();
            var edit_deadline           = $('#edit_deadline').val();
            var task_content            = $('#edit_task_content').val();

            console.log(edit_task_id+'+'+task_content+'+'+edit_do_user+'+'+edit_grade+'+'+edit_deadline);

            if(edit_task_id.length > 0 & task_content.length > 0 & edit_do_user.length > 0 & edit_grade.length > 0 & edit_deadline.length > 0 & project_id.length > 0){
                // alert(edit_task_id+'+'+task_content+'+'+edit_do_user+'+'+edit_grade+'+'+edit_deadline);
                $.post(
                    "{:U('Task/edit_task')}",
                    {
                     'id':edit_task_id,
                     'task_content':task_content,
                     'do_user':edit_do_user,
                     'grade':edit_grade,
                     'deadline':edit_deadline,
                     'project_id':project_id,
                    },
                    function(data){
                        $(".p_mess").html(data);
                        $(".message").show(800);

                        if(data == '修改成功'){
                            $(".img_mess_top").click(function(){
                            $('.message').hide(800);
                            window.location.reload();
                        });
                        }
                    }
                );
            }else{
                $(".p_mess").html('请选择完整所有选项');
                $(".message").show(800);
            }});
    });

    $('.content_mark').click(function(){
        $('.edit').hide(800);
        $('.content_mark').hide(800);
    });
});

$(function(){
    $(".pro_img").click(function(){
        var pic_number = ' ';
        $("#click_img").remove();
        var html_img = '<img src="./images/ok.png" id="click_img" alt="">';
        $(this).append(html_img);
        pic_number = $(this).attr("data");
    });
});
</script>
</html>