<link rel="stylesheet" href="__PUBLIC__css/task_all.css"> 
    <div class="content">
        <div class="content_left">
            <strong style='display:block;'>未完成</strong>
<foreach name='unfinish' item='vo'>
            <div class="task_info" data="{$vo.id}" id="unfinish">
                <div class="info_top">
                    <input type="checkbox" class='check'>
                    <div class="info_grade">
                        <p class='grade_p'>{$vo.grade}</p>
                    </div>
                    <p class='name_p'>{$vo.give_user}</p>
                    <div class="date">
                        <p>{$vo.deadline}</p>
                    </div>
                </div>
                <div class="sys_name">
                    <p>&nbsp;{$vo.project_name}&nbsp;</p>
                </div>
                <p class='ac_info'>{$vo.task_content}</p>
            </div>
</foreach>
        </div>

        <div class="content_right">
            <strong style='display:block;'>已完成</strong>
<foreach name='finish' item='vo'>
            <div class="task_info" data="{$vo.id}" id="finish">
                <div class="info_top">
                    <input type="checkbox" class='check' checked>
                    <div class="info_grade">
                        <p class='grade_p'>{$vo.grade}</p>
                    </div>
                    <p class='name_p'>{$vo.give_user}</p>
                    <div class="date">
                        <p>{$vo.deadline}</p>
                    </div>
                </div>
                <div class="sys_name">
                    <p>&nbsp;{$vo.project_name}&nbsp;</p>
                </div>
                <p class='ac_info'>{$vo.task_content}</p>
            </div>
</foreach>
        </div>
    </div>


<!-- ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->


        <div class="edit">
            <h3>查看任务</h3>

            <div class="col-sm-10" style='margin-bottom: 50px;'>
                <h4>任务内容</h4>
                <textarea class="form-control" rows="10" style='height:200px'></textarea>
            </div>

        </div>


<div class="content_mark"></div>
    
</body>
<script>
$(function(){
    $('.ac_info').click(function(){
        $('.edit').show(1000);
        $('.content_mark').show('slow');
    });
    $('.content_mark').click(function(){
        $('.edit').hide(800);
        $('.content_mark').hide(800);
    });
});
</script>
</html>